body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca';
  width: 100%;
  height: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

*::selection {
  background: var(--blue);
  color: var(--light);
}

#app {
  width: 100%;
  height: 100%;
}

:root {
  --light: #fff;
  --grey: #f2f2f2;
  --dark: #36393f;
  --darker: #2f3136;
  --darkest: #202225;
  --trans: #2c6fef20;
  --blue: #2c6fef;
  --red: #e1503c;
  --yellow: #eea71f;
  --heading-size: 24px;
}

/* Essential Template */

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--darkest);
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--darker);
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

p {
  font-size: inherit;
  color: var(--dark);
}

strong {
  color: var(--darkest);
}

a, button, input, .tag {
  position: relative;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

a {
  color: var(--darker);
  text-decoration: none;
}

a:not(.btn):after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 0;
  background: var(--blue);
  height: 2px;
  border-radius: 1px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

a:not(.btn):hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

p a {
  color: var(--blue);
  display: inline;
  position: relative;
  overflow: hidden;
}

button {
  background-color: var(--dark);
  background-image: linear-gradient(to right, var(--blue), var(--blue));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0% 100%;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  transition-property: background-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

button:hover {
  background-size: 100% 100%;
}

button[disabled] {
  background-color: var(--grey);
  background-image: linear-gradient(to right, var(--blue), var(--blue));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0% 100%;
  color: var(--dark);
}

button .message {
  margin: 0 8px;
}

::placeholder {
  color: var(--dark);
  opacity: 1;
}

input {
  background: var(--grey);
  padding: 20px 16px 8px;
  border-radius: 4px;
  color: var(--darkest);
  width: 200px;
}

ol, ul {
  padding-inline-start: 20px;
  margin: 0;
}

li {
  text-align: left;
}

/* Components */

.wrapper {
  overflow: hidden;
}

.text {
  position: relative;
  display: inline-block;
  height: 48px;
  border-radius: 4px;
  overflow: hidden;
  align-self: start;
}

.text:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: 0;
  background: var(--blue);
  height: 2px;
  border-radius: 1px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.text:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.text:focus-within:after {
  width: 100%;
}

.text:focus-within label, input:valid + label {
  top: 4px;
  font-size: 12px;
  color: var(--blue);
}

label {
  position: absolute;
  top: 14px;
  left: 16px;
  font-size: inherit;
  color: var(--dark);
  opacity: 1;
  user-select: none;
  pointer-events: none;
  transition-property: top, color, font-size;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc((var(--heading-size) * 1.25) + 64px + 28px + 16px + 320px);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 32px var(--grey);
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.card:hover {
  box-shadow: 0 0 16px var(--grey);
}

.card:hover .media {
  height: 160px;
}

.card:hover .body {
  height: calc((var(--heading-size) * 1.25) + 64px + 28px + 16px + 160px);
}

.card .body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc((var(--heading-size) * 1.25) + 64px + 28px + 16px);
  padding: 32px;
  box-sizing: border-box;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.card .media {
  width: 100%;
  height: 320px;
  font-size: 0;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.media.math {
  background: var(--blue);
}

.media.science {
  background: var(--yellow);
}

.media.coding {
  background: var(--red);
}

.card .media .material-symbols-rounded {
  font-size: 64px;
  color: var(--light);
}

.card .body .content {
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card .body .content .heading {
  color: var(--dark);
  font-size: var(--heading-size);
  font-weight: 600;
  align-self: start;
}

.card .body .content p {
  overflow: hidden;
  margin: 8px 0 0 0;
}

.tags {
  margin: 16px 0 0 0;
  display: flex;
  height: 28px;
}

.tag {
  margin: 0 4px 0 0;
  background: var(--darkest);
  color: var(--light);
  padding: 4px 16px;
  border-radius: 128px;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.tag:hover {
  background: var(--dark);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 0;
}

section > h1 {
  text-align: center;
  margin: 0 0 16px 0;
}

section > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

section > .content .panel {
  width: 320px;
/*   height: 100%; */
}

section > .content .read {
  width: 50%;
}

section > .content {
  margin: 0 0 32px 0;
}

section > .content:last-child {
  margin: 0;
}

.snackbar {
  position: fixed;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--dark);
  color: var(--light);
  border-radius: 4px;
  left: 8px;
  bottom: 8px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  animation: 0.2s load linear;
}

.snack {
  color: inherit;
  margin: 0 8px 0 0;
}

.faded {
  opacity: 0;
}

button.soft {
  background: transparent;
  color: var(--blue);
  transition-property: background;
}

button.soft:hover {
  background: var(--trans);
}

/* Navigation Menu */

nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  z-index: 128;
}

.logo {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 128;
}

.logo span {
  font-size: 24px;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  cursor: pointer;
  z-index: 128;
  user-select: none;
}

.logo span:hover {
  opacity: 0.5;
}

.menu {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.actions {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 128;
}

.link {
  padding: 20px 20px;
  display: inline;
  position: relative;
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0;
  right: 20px;
  bottom: 18px;
  background: var(--blue);
  height: 2px;
  border-radius: 1px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.link:hover {
  color: var(--blue);
}

.link:hover:after {
  left: 20px;
  right: auto;
  width: calc(100% - 40px);
}

.btn {
  border-radius: 5px;
  border: 2px solid var(--blue);
  background: transparent;
  color: var(--dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.btn:hover {
  color: var(--light);
  background: var(--blue);
}

.actions .btn {
  margin: 0 0 0 8px;
}

.toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 128;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.active .hamRotate {
  transform: rotate(45deg);
}
.active .hamRotate180 {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--dark);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.active .ham4 .top {
  stroke-dashoffset: -68px;
}
.active .ham4 .bottom {
  stroke-dashoffset: -68px;
}

/* HERO */

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1200px;
  height: calc(100vh - 120px);
  margin: auto;
  padding: 0;
}

#hero .content {
  text-align: left;
  flex-direction: column;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 232px;
}

form div {
  display: flex;
  flex-direction: column;
}

#login {
  height: 320px;
}

.error {
  padding: 8px 16px;
  color: var(--red);
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.scroll span {
  font-size: 48px;
  animation-name: bob;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;
}