@media only screen and (max-width: 1200px) {
  .logo {
    width: 200px;
  }

  .menu {
    width: 400px;
  }

  .actions {
    width: 200px;
  }

  #hero {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 200px;
  }

  .menu {
    width: 200px;
  }

  .actions {
    width: 200px;
  }

  #hero {
    width: 600px;
  }
}